//header
.highlight 
	background: #eee
	font-weight: bold


.photos 
	display: none


.comments 
	display: none


.per-night 
	position: relative
	display: block


.per-night 
	opacity: 0

h1, p
  text-align: center


.homepage-wrapper
  width: 600px
  border-radius: 4px
  margin: 0 auto

#vacations-wrapper, #tours-wrapper
  background: #172027
  color: white
  width: 600px
  border-radius: 4px
  margin: 0 auto
  padding: 30px


.list, .sorting
  list-style: none

.sorting
  a
    color: #007876
    font-weight: 600
    letter-spacing: 0.5px
    font-size: 18px

// level 2
#tours-wrapper
  width: 1200px
  padding-top: 60px
  padding-bottom: 60px
  position: relative
  background-color: #104A56
  h1
    text-align: left

#tours
  display: flex
  justify-content: space-between
  padding-left: 0
  li
    width: 100%
    list-style: none
    display: flex
    flex-direction: column
    align-items: center
  .america, .europe, .asia
    background: #172027
    margin: 0 10px
    padding: 20px
    border-radius: 2px
  .details
    background: #007876
    width: 100%
    padding: 10px
    border-radius: 2px
    text-align: center


.vote
  padding-top: 10px
  display: flex
  justify-content: center
  padding-left: 0
  margin-bottom: 20px
  li
    &:first-of-type
      margin-right: 10px
  a
    display: flex
    justify-content: center
    align-items: center
    width: 30px
    height: 30px
    background-color: #91D478
    border-radius: 2px
.sorting
  display: flex
  position: absolute
  top: 60px
  right: 0
  li
    margin-right: 30px
  a
    font-size: 24px
    color: #F9F871

// level 2

// level 3
#all-tours
  width: 1000px
  padding: 60px 30px 10px 60px
  position: relative
  background-color: #104A56
  margin: 0 auto
  h1
    text-align: left
    color: white
  h2
    color: white
  ul
    display: flex
    justify-content: space-between
    padding-left: 0
    li
      // width: 100%
      list-style: none
      display: flex
      flex-direction: column
      align-items: center
      background: #172027
      margin: 0 10px
      padding: 20px
      border-radius: 2px
      color: white
    span
      color: white
      margin-bottom: 10px
  .book
    width: 100%
    background-color: #007876
    width: 100%
    padding: 10px
    border-radius: 2px
    text-align: center
    border: none
    color: #F9F871
    cursor: pointer
    transition: all 0.3s ease
    &:hover, &:active, &:focus
      background-color: darken(#007876, 5%)
  #filters
    width: 500px
    margin-left: auto
    margin-right: auto
    li
      padding: 0
.ticket
  display: none
  p 
    margin-bottom: 0
    color: white
#filters
  button
    width: 100%
    background-color: #007876
    width: 100%
    padding: 10px
    border-radius: 2px
    text-align: center
    border: none
    color: #F9F871
    cursor: pointer
    transition: all 0.3s ease
    &:hover, &:active, &:focus
      background-color: darken(#007876, 5%)

#all-tours
  .tour
    width: 270px
  .photos
    display: none
  .see-photos
    width: 100%
    background-color: #007876
    width: 100%
    padding: 10px
    border-radius: 2px
    text-align: center
    border: none
    color: #F9F871
    cursor: pointer
    transition: all 0.3s ease
    margin-top: 20px
    &:hover, &:active, &:focus
      background-color: darken(#007876, 5%)

//header END